
<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Nos produits</li>
            {% render(controller('journalBundle:Categories:menu')) %}
        </li>
    </ul>
</div>

