
<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">gestion</li>
           
        <li><a href="{{ path('adminProduits_index')}}">Prodiuts </a> </li>
        <li><a href="{{ path('adminPages_index')}}">Pages </a> </li>
    </ul>
</div>

